:root {
    --primary-color: rgb(70, 177, 201);
    --secondary-color: rgb(132, 192, 198);
    --accent1-color: rgb(159, 183, 185);
    --accent2-color: rgb(242, 226, 210);
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    max-width: 2000px;
}

body {
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5 {
    font-family: "Roboto", sans-serif;
}

.sociallinks {
    text-decoration: none;
}

p {
    font-family: "Host Grotesk", sans-serif;
}

.hero {
    position: relative;
    min-width: 800px;
}

#about-back {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    color: white;
    position: absolute;
    top: 2%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 1%;
    margin-bottom: 5rem;
}

.hero article {
    position: absolute;
    top: 20%;
    left: 5%;
    text-align: center;
    padding: 1.5%;
    background-color: rgba(255, 255, 255, 0.90);
    color: black;
    width: 90%;
    border: 1rem;
}

.hero p {
    padding: 1rem;
}

#happy-img {
    float: right;
    width: 200px;
    max-width: 50%;
    margin-left: 1rem;
}
